:root {
  --primary: #1a1d20;
  --secondary: #212529;
  --text-primary: #6c757d;
  --text-danger: #dc3545e3;
  --error-modal: var(--primary);
  --button-text: #6c757d;
  --hover-background: #2d3338;
  --hover-text: #fff;
  --navbar-hover: #fff;
  --input-hover: var(--outline);
  --input-focus: rgb(212, 212, 212);
  --outline: #6c757d52;
  --img-opacity: 0.85;
  --img-shadow: #d8edff;
  --border-width: 3px;
  --logo: url(img/logo-normal.png) no-repeat;
}

.normalmode {
  --primary: #f2e9e4;
  --secondary: #e13855;
  --text-primary: #736c65;
  --text-danger: #c70a2b;
  --error-modal: #ccc3bd;
  --button-text: #fff;
  --hover-background: #de2244;
  --hover-text: #f2e9e4;
  --navbar-hover: #de2244;
  --input-hover: var(--hover-background);
  --input-focus: var(--outline);
  --outline: #d64c65;
  --img-opacity: 0.93;
  --img-shadow: rgb(101, 95, 88);
  --border-width: 2px;
  --logo: url(img/logo-dark.png) no-repeat;
}

/**
*
* Testing
*
**/
body {
  background: var(--primary);
}

.overflw {
  overflow: hidden;
}

.hide {
  display: inline-block !important;
}

.slidein {
  -webkit-animation: slide-in 2s ease-in-out;
          animation: slide-in 2s ease-in-out;
}

@-webkit-keyframes slide-in {
  0% {
    -webkit-transform: skew(15deg) translateX(300px);
            transform: skew(15deg) translateX(300px);
    opacity: 0;
  }
  100% {
    -webkit-transform: skew(0) translateX(0);
            transform: skew(0) translateX(0);
    opacity: 1;
  }
}

@keyframes slide-in {
  0% {
    -webkit-transform: skew(15deg) translateX(300px);
            transform: skew(15deg) translateX(300px);
    opacity: 0;
  }
  100% {
    -webkit-transform: skew(0) translateX(0);
            transform: skew(0) translateX(0);
    opacity: 1;
  }
}

.slideout {
  -webkit-animation: slide-out 1.5s ease-out;
          animation: slide-out 1.5s ease-out;
}

@-webkit-keyframes slide-out {
  0% {
    opacity: 0.5;
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes slide-out {
  0% {
    opacity: 0.5;
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.eliminate {
  -webkit-animation: mydel 0.35s forwards;
          animation: mydel 0.35s forwards;
}

@-webkit-keyframes mydel {
  0% {
    opacity: 1;
  }
  15% {
    opacity: 0.75;
  }
  35% {
    opacity: 0.5;
  }
  50% {
    opacity: 0.25;
  }
  100% {
    opacity: 0;
  }
}

@keyframes mydel {
  0% {
    opacity: 1;
  }
  15% {
    opacity: 0.75;
  }
  35% {
    opacity: 0.5;
  }
  50% {
    opacity: 0.25;
  }
  100% {
    opacity: 0;
  }
}

.error-modal-popup {
  -webkit-animation: er-mod 0.13s;
          animation: er-mod 0.13s;
}

@-webkit-keyframes er-mod {
  from {
    -webkit-transform: scale(1) translateX(10px) translateY(10px);
            transform: scale(1) translateX(10px) translateY(10px);
  }
  to {
    -webkit-transform: scale(0.9) translateX(-20px) translateY(-10px);
            transform: scale(0.9) translateX(-20px) translateY(-10px);
  }
}

@keyframes er-mod {
  from {
    -webkit-transform: scale(1) translateX(10px) translateY(10px);
            transform: scale(1) translateX(10px) translateY(10px);
  }
  to {
    -webkit-transform: scale(0.9) translateX(-20px) translateY(-10px);
            transform: scale(0.9) translateX(-20px) translateY(-10px);
  }
}

.switch {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: all 1s;
  transition: all 1s;
}

.error-modal {
  background: var(--error-modal);
  width: 30%;
  border-radius: 0.5rem;
  position: absolute;
  top: 40%;
  right: 40%;
  margin-right: -40px;
  z-index: 7;
}

@media (max-width: 365px) {
  .error-modal {
    width: 96vw !important;
    right: 1%;
    margin-right: 5px;
  }
}

@media (min-width: 366px) and (max-width: 425px) {
  .error-modal {
    width: 96vw !important;
    right: 1%;
    margin-right: 5px;
  }
}

@media (min-width: 426px) and (max-width: 770px) {
  .error-modal {
    width: 90% !important;
    right: 2%;
    margin-right: 15px;
  }
}

.error-modal-brdr {
  border-radius: 0.5rem 0 0 0.5rem;
  position: absolute;
  top: 0;
  left: 0;
  width: 2.5%;
  height: 100%;
}

@media (max-width: 365px) {
  .error-description {
    font-size: 0.9rem !important;
  }
}

@media (min-width: 366px) and (max-width: 425px) {
  .error-description {
    font-size: 0.9rem !important;
  }
}

.error-modal-btn {
  position: absolute;
  right: 0;
}

.error-modal-btn button {
  border: none;
  background: var(--secondary);
  color: var(--button-text);
}

@media (max-width: 365px) {
  .error-modal-btn button {
    margin-right: 0.3rem !important;
  }
}

@media (min-width: 366px) and (max-width: 425px) {
  .error-modal-btn button {
    margin-right: 0.3rem !important;
  }
}

.error-modal-btn button:hover {
  background: var(--hover-background);
  color: var(--hover-text) !important;
}

.error-modal-btn button:focus {
  outline: none;
  border: none;
  color: var(--hover-text) !important;
  -webkit-box-shadow: 0 0 5px var(--outline);
          box-shadow: 0 0 5px var(--outline);
}

section.vessel {
  color: var(--text-primary);
}

@media (max-width: 365px) {
  section.vessel div.navbar {
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
  }
  section.vessel div.navbar .logo-title-right {
    display: none;
  }
}

@media (min-width: 366px) and (max-width: 425px) {
  section.vessel div.navbar .logo-title-left {
    padding-left: 0.4rem !important;
    padding-right: 0 !important;
  }
  section.vessel div.navbar .logo-title-right {
    padding-left: 0 !important;
    padding-right: 0.4rem !important;
  }
}

section.vessel div.navbar .logo {
  background: var(--logo);
  background-size: contain;
  width: 40px;
  height: 40px;
}

section.vessel div.navbar p {
  -webkit-transition: all 1s;
  transition: all 1s;
}

section.vessel div.navbar p:hover {
  color: var(--navbar-hover);
  cursor: pointer;
}

section.vessel div.error-msg-empty {
  display: none;
  color: var(--text-danger);
}

section.vessel div.overlay {
  background: black;
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100vw;
  z-index: 6;
  opacity: 0.6;
}

@media (max-width: 365px) {
  section.vessel div.overlay {
    height: 110%;
  }
}

@media (min-width: 366px) and (max-width: 425px) {
  section.vessel div.overlay {
    height: 110%;
  }
}

section.vessel div.limit-error {
  width: 50%;
  right: 25%;
  margin-right: -25px;
}

@media (max-width: 365px) {
  section.vessel div.limit-error {
    width: 98vw !important;
    height: 30vw;
    right: 1%;
    margin-right: 1px;
  }
  section.vessel div.limit-error .error-modal-btn {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-right: 1rem;
  }
  section.vessel div.limit-error .error-modal-btn p {
    margin-right: 0 !important;
    font-size: 1rem !important;
    margin-bottom: 1rem !important;
  }
  section.vessel div.limit-error .error-modal-btn p span {
    font-weight: bold;
    display: block !important;
  }
}

@media (min-width: 366px) and (max-width: 425px) {
  section.vessel div.limit-error {
    width: 98vw !important;
    height: 30vw;
    right: 1%;
    margin-right: 1px;
  }
  section.vessel div.limit-error .error-description {
    font-weight: 600;
    font-size: 1.1rem !important;
  }
  section.vessel div.limit-error .error-modal-btn {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-right: 1rem;
  }
  section.vessel div.limit-error .error-modal-btn p {
    margin-right: 0 !important;
    font-size: 1rem !important;
    margin-bottom: 1rem !important;
  }
  section.vessel div.limit-error .error-modal-btn p span {
    font-weight: bold;
    display: block !important;
  }
}

@media (min-width: 426px) and (max-width: 770px) {
  section.vessel div.limit-error {
    right: 2%;
    margin-right: 15px;
  }
}

section.vessel div.welcome-msg-popup {
  display: none;
  position: fixed;
  right: 1rem;
  bottom: 1rem;
  z-index: 5;
}

@media (max-width: 365px) {
  section.vessel div.welcome-msg-popup {
    display: none !important;
  }
}

@media (min-width: 366px) and (max-width: 425px) {
  section.vessel div.welcome-msg-popup {
    display: none !important;
  }
}

section.vessel div.welcome-msg-popup img {
  background: #b7ae9e;
  border-radius: 50%;
  width: 75px;
  cursor: pointer;
}

section.vessel div.welcome-msg-popup p {
  position: relative;
  text-align: start;
  display: inline-block;
  border: 1px solid var(--text-primary) !important;
  background: var(--primary);
  padding: 0.5rem 1rem 0.5rem 1rem;
}

section.vessel div.welcome-msg-popup p i {
  position: absolute;
  right: 1rem;
  cursor: pointer;
  color: var(--text-danger);
}

section.vessel div.theme-toggler {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  position: fixed;
  bottom: 1rem;
  left: 1rem;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  background: #252729;
  cursor: pointer;
  z-index: 5;
  -webkit-transition: all 2s;
  transition: all 2s;
}

@media (max-width: 365px) {
  section.vessel div.theme-toggler {
    width: 50px;
    height: 50px;
    bottom: 0.3rem;
    left: 0.3rem;
  }
  section.vessel div.theme-toggler i {
    font-size: 1.2rem !important;
  }
}

@media (min-width: 366px) and (max-width: 425px) {
  section.vessel div.theme-toggler {
    bottom: 0.3rem;
    left: 0.3rem;
  }
  section.vessel div.theme-toggler i {
    font-size: 1.2rem !important;
  }
}

section.vessel div.theme-toggler:hover {
  opacity: var(--img-opacity);
}

section.vessel div.theme-toggler i {
  pointer-events: none;
  font-size: 1.35rem;
  color: #e2e2e2e7;
}

section.vessel div.search-field input {
  width: 300px;
  border: var(--border-width) solid var(--outline);
}

@media (max-width: 365px) {
  section.vessel div.search-field input {
    width: 200px;
  }
}

@media (min-width: 366px) and (max-width: 425px) {
  section.vessel div.search-field input {
    width: 250px;
  }
}

section.vessel div.search-field input:hover {
  border: var(--border-width) solid var(--input-hover);
}

section.vessel div.search-field input:focus {
  outline: none;
  border: var(--border-width) solid var(--outline);
  -webkit-box-shadow: 0 0 7px var(--input-focus) !important;
          box-shadow: 0 0 7px var(--input-focus) !important;
}

section.vessel div.search-field button {
  border: none;
  background: var(--secondary);
  color: var(--button-text);
}

section.vessel div.search-field button:hover {
  background: var(--hover-background);
  color: var(--hover-text) !important;
}

section.vessel div.search-field button:focus {
  outline: none;
  color: var(--hover-text) !important;
  border: 4px solid var(--outline);
  -webkit-box-shadow: 0 0 5px var(--outline);
          box-shadow: 0 0 5px var(--outline);
}

@media (max-width: 365px) {
  section.vessel div.search-field button:focus {
    border: 2px solid var(--outline);
  }
}

@media (min-width: 366px) and (max-width: 425px) {
  section.vessel div.search-field button:focus {
    border: 2px solid var(--outline);
  }
}

section.vessel div.users-container .img-details img {
  border-radius: 50%;
  width: 200px;
  -webkit-box-shadow: 0 0 10px var(--img-shadow);
          box-shadow: 0 0 10px var(--img-shadow);
  opacity: var(--img-opacity);
}

@media (max-width: 365px) {
  section.vessel div.users-container .img-details img {
    width: 150px;
  }
}

@media (min-width: 366px) and (max-width: 425px) {
  section.vessel div.users-container .img-details img {
    width: 150px;
  }
}

section.vessel div.users-container .contents ul {
  list-style: none;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (100px)[3];
      grid-template-columns: repeat(3, 100px);
  -ms-grid-rows: (120px)[2];
      grid-template-rows: repeat(2, 120px);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 365px) {
  section.vessel div.users-container .contents ul {
    -webkit-hyphens: auto;
        -ms-hyphens: auto;
            hyphens: auto;
    word-wrap: break-word;
    margin-bottom: 1rem;
    -ms-grid-columns: (150px)[2];
        grid-template-columns: repeat(2, 150px);
    -ms-grid-rows: (150px)[2];
        grid-template-rows: repeat(2, 150px);
  }
}

@media (min-width: 366px) and (max-width: 425px) {
  section.vessel div.users-container .contents ul {
    -webkit-hyphens: auto;
        -ms-hyphens: auto;
            hyphens: auto;
    word-wrap: break-word;
    margin-bottom: 1rem;
    -ms-grid-columns: (150px)[2];
        grid-template-columns: repeat(2, 150px);
    -ms-grid-rows: (150px)[2];
        grid-template-rows: repeat(2, 150px);
  }
}

@media (max-width: 365px) {
  section.vessel div.users-container .view {
    margin-top: 1.5rem !important;
    margin-bottom: 0.5rem !important;
  }
}

@media (min-width: 366px) and (max-width: 425px) {
  section.vessel div.users-container .view {
    margin-top: 1.5rem !important;
    margin-bottom: 0.5rem !important;
  }
}

section.vessel div.users-container .view button {
  background: var(--secondary);
  color: var(--button-text) !important;
}

section.vessel div.users-container .view button:hover {
  background: var(--hover-background) !important;
  color: var(--hover-text) !important;
}

section.vessel div.users-container .view button:focus {
  outline: none;
  color: var(--hover-text) !important;
  border: 4px solid var(--outline);
  -webkit-box-shadow: 0 0 5px var(--outline);
          box-shadow: 0 0 5px var(--outline);
}

@media (max-width: 365px) {
  section.vessel div.users-container .view button:focus {
    border: 2px solid var(--outline);
  }
}

@media (min-width: 366px) and (max-width: 425px) {
  section.vessel div.users-container .view button:focus {
    border: 2px solid var(--outline);
  }
}
/*# sourceMappingURL=style.css.map */